* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar,
footer,
.intro {
  background-color: #1f2937;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px;
}

ul {
  display: flex;
  gap: 16px;
}

li {
  list-style: none;
  color: #e5e7eb;
  font-size: 18px;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.intro {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h2 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.wiki {
  font-size: px;
  color: #e5e7eb;
}

button {
  border-radius: 5px;
  width: 130px;
  height: 40px;
  border: none;
  font-weight: 400;
  font-size: 18px;
}

.intro-signup {
  color: white;
  background-color: #3882f6;
}
.poster {
  width: 500px;
  height: 300px;
}

.info {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin: 32px;
  align-content: center;
}

.card-section {
  height: 400px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.game-img {
  height: 200px;
  width: 170px;
  border-radius: 10px;
}
.game-info {
  margin-top: 4px;
  font-size: 16px;
  text-align: center;
}

.quote-section {
  height: 400px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.quote {
  padding: 36px;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

h3 {
  margin: 16px;
  margin-right: 100px;
  align-self: last baseline;
  font-size: 28px;
}
footer {
  font-size: 18px;
}
